.yt-video-container {
  position: relative;
  max-width: 50rem;
  aspect-ratio: 16 / 9;
  margin: 5rem auto;
}

.icon-button:focus-visible {
  transition: none;
  border: solid 0.1rem var(--primary-clr-black);
  border-radius: 0.375rem;
}

.yt-video-container iframe,
.yt-video-container object,
.yt-video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loading-gradient-background {
  background: linear-gradient(
    270deg,
    var(--primary-clr-white),
    var(--primary-clr-blue),
    var(--primary-clr-white)
  );
  background-size: 500%;
  animation: gradient-animation 1.2s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.playlist-alert-container {
  position: sticky;
  top: 13%;
  z-index: 3;
}

.playlists-heading {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--primary-clr-blue);
  text-decoration-thickness: 0.25rem;
}

.playlist-heading-greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50vh;
}

.playlist-items-container,
.playlist-songs-container {
  padding: 0 !important;
}

.loading-spinner-img {
  width: 5rem;
}

.playlist-heading-greeting-text {
  font-family: 'Amatic SC', sans-serif;
  font-size: 5rem;
  color: white;
  text-align: center;
}

.playlist-song {
  border-radius: 30px;
  margin: 0 0.6rem;
}

.playlist-song-thumbnail {
  aspect-ratio: 1.6 / 1;
  max-width: 7rem;
}

.playlist-song-title {
  max-width: 40rem;
  cursor: default;
}

.player-widget {
  flex-direction: column;
  bottom: 2rem;
  right: 8rem;
  width: 30rem;
  background-color: var(--primary-clr-black);
  color: var(--primary-clr-white);
  z-index: 3;
}

.player-song-thumbnail {
  aspect-ratio: 1.6 / 1;
  max-width: 7rem;
}

.player-song-time-container {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 300;
}

.player-elapsed-time {
  color: var(--primary-clr-bright-green);
}

.player-song-total-time {
  color: var(--primary-clr-grey);
}

.player-song-title {
  max-width: 38rem;
  cursor: default;
}

.player-info-container {
  background-color: var(--primary-clr-black);
}

.player-interface-container {
  list-style: none;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(
    to bottom,
    var(--primary-clr-black),
    var(--primary-clr-green)
  );
}

#back-to-playlists-container {
  list-style: none;
}

.back-to-playlist-txt {
  color: var(--primary-clr-violet);
}

.playlist-song:hover {
  background-color: var(--primary-clr-light-green);
}

.playlist-song-duration {
  font-size: 0.8rem;
  color: var(--primary-clr-violet);
}

.playing-song-border {
  border: 2px solid var(--primary-clr-green);
  border-radius: 30px;
}

.playlist-info-container {
  max-width: 60rem;
}

#add-to-playlist-btn {
  height: 100%;
}

.add-to-playlist,
.playlist-select {
  width: 100%;
  height: 100%;
  left: 0;
  color: transparent;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.playlist-modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
  z-index: 3;
  padding: 2rem;
  background-color: var(--primary-clr-black);
  color: var(--primary-clr-white);
}

.new-playlist-btn {
  font-size: 1.2rem;
}

.playlist-item {
  max-width: 57rem;
  padding: 1rem;
  margin: 0.5rem 0;
}

.playlist-item:hover .playlist-name {
  color: var(--primary-clr-white);
}

.playlist-item:hover .playlist-songs-num {
  color: var(--primary-clr-white);
}

.blue-border {
  border: 1.5px solid var(--primary-clr-blue);
}

.gradient-border {
  background: linear-gradient(
        var(--primary-clr-white),
        var(--primary-clr-white)
      )
      padding-box,
    linear-gradient(
        to right,
        var(--primary-clr-blue),
        var(--primary-clr-violet),
        var(--primary-clr-red)
      )
      border-box;
  border: 2.5px solid transparent;
}

.existing-playlist:hover {
  background-color: var(--primary-clr-blue);
}

.generated-playlist:hover {
  background: linear-gradient(
    270deg,
    var(--primary-clr-blue),
    var(--primary-clr-violet),
    var(--primary-clr-red)
  );
  background-size: 1000%;
  animation: gradient-animation 5.2s ease infinite;
}

.playlist-name {
  font-size: 1.5rem;
  max-width: 49rem;
  cursor: default;
}

.playlist-songs-num {
  color: var(--primary-clr-violet);
  cursor: default;
}

.discover-lofi-songs-btn {
  padding: 0.7rem;
  margin: 1rem 0;
}

.cancel-rename {
  width: 49%;
}

.cancel-create {
  width: 49%;
}

.confirm-rename {
  width: 49%;
}

.create-playlist {
  width: 49%;
}

.btn {
  border: none;
}

.scale-hover-1,
.scale-hover-2,
.scale-hover-3 {
  transition: 0.2s;
}

.scale-hover-1:hover {
  transform: scale(1.02);
}

.scale-hover-2:hover {
  transform: scale(1.05);
}

.scale-hover-3:hover {
  transform: scale(1.1);
}

.scale-hover-1:active {
  transform: scale(1.01);
}

.scale-hover-2:active {
  transform: scale(1.02);
}

.scale-hover-3:active {
  transform: scale(1.08);
}

.greyed-out-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #80808066;
  z-index: 2;
  bottom: 0;
  right: 0;
}
